SPRING__PROFILES__ACTIVE=dev

# SOCIAL LOGIN
SPRING__SECURITY__OAUTH2__CLIENT__REGISTRATION__GITHUB__CLIENT_ID=REQUIRED_DUMMY
SPRING__SECURITY__OAUTH2__CLIENT__REGISTRATION__GITHUB__CLIENT_SECRET=

# CUSTOM PROD
CUSTOM__PROD__COOKIE_DOMAIN=localhost
CUSTOM__PROD__COOKIE_SECURE=false
CUSTOM__PROD__FRONT_URL=http://localhost:3000
CUSTOM__PROD__BACK_URL=http://localhost:8080

# CUSTOM
CUSTOM__JWT__SECRET_KEY=REQUIRED_DUMMY
CUSTOM__JWT__EXPIRATION_MINUTES=REQUIRED_VALID_VALUE
CUSTOM__BOOK_FETCH__API_KEY=
CUSTOM__BOOK__FETCH__API_KEYS=
CUSTOM__WIDGET__RENDERER__BASE_URL=http://localhost:3001
CUSTOM__KAKAO__API_KEY=

# DB
PROD__SPRING__DATA__REDIS__PASSWORD=
PROD__SPRING__DATASOURCE__URL___DB_NAME=
